<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Crear Servicio</h3>
    
    <div class="form-group">
      <input type="text" [(ngModel)]="servicioDetails.nombre" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="servicioDetails.tipo" class="form-control" placeholder="Type">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="servicioDetails.datosurl" class="form-control" placeholder="Datos">
    </div>
    
    <div class="form-group">
      <input type="text" [(ngModel)]="servicioDetails.mision" class="form-control" placeholder="Mision">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addServicio()">Crear Servicio</button>
    </div>

  </div>
</div>
